.icon-circle {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
  }
  
  .hover-zoom:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
  }

  /* Animation moderne pour la navbar */
.animated-navbar {
    animation: slideDownFade 0.8s ease-out;
  }
  
  @keyframes slideDownFade {
    0% {
      transform: translateY(-30px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  /* Petite animation de rebond sur l’icône */
  .animate-bounce {
    animation: bounce 1.2s infinite;
  }
  
  @keyframes bounce {
    0%, 100% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-5px);
    }
  }
  @keyframes drive {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(10px);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  .animate-drive {
    animation: drive 1s infinite ease-in-out;
  }
  
  